{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.title %}
            {{page.title}} |
        {% elif category.name %}
            {{category.name}} |
        {% endif %}
        Master Python
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}" />
</head>

<body>
    <a class='titulo' href=" {% url 'Index' %} " > Proyecto </a>
    
    <nav class="navbar">
        <ul>
            {% if request.user.email %}
                <li class="categorias barra">
                    <a href= {% url 'Lista' %} >Categorias</a>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href= {% url 'category' category.0 %} >  {{ category.1 }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <li class='barra'>
                {% if request.user.email %}
                    {% for page in pages %}
                        <a href= " {% url 'page' page.2 %} " > {{ page.1 }} </a>
                    {% endfor %}
                    <a href=" {% url 'logout' %} ">Logout</a>
                {% else %}
                    <a href=" {% url 'register' %} ">Registro</a>
                    <a href=" {% url 'login' %} ">Login</a>
                    <a href='/admin'>Admin</a>
                {% endif %}
            </li>
        </ul>
        <span class="triangulo-izq"></span>
        <span class="triangulo-der"></span>
        <span class="relleno"></span>
    </nav>


<div class="content">
    <div class="box">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    Powered By YO &copy;
</footer>

</body>
</html>